.card-flipper {
    position: relative;
    display: none; 
    height: 50vh;
    transition: 0.8s;
    transform-style: preserve-3d;
    border: 1px solid rgba(0,0,0,0.125);
    background-color: white;
    border-radius: 1rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);

    &:first-child {
        display: block;
    }

    /*&:nth-child(2) {
        display: block;
        position: absolute;
        top: -0.5rem;
        left: 26%;
        z-index: -1;
    }*/

    .flip-card-front,
    .flip-card-back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .flip-card-front {
        z-index: 2;
        transform: rotateY(0deg);
    }
    
    .flip-card-back {
        top: 25%;
        transform: rotateY(180deg);
    }
    
    &.flip-card {
        transform: rotateY(180deg);
        background: none;
    }
}
